[submodule "stock_return_picking_with_reason"]
	path = stock_return_picking_with_reason
	url = https://github.com/humanytek-team/stock_return_picking_with_reason
[submodule "sale_stock_restrict_return_picking_expiration_time"]
	path = sale_stock_restrict_return_picking_expiration_time
	url = https://github.com/humanytek-team/sale_stock_restrict_return_picking_expiration_time
[submodule "sale_order_autodect_delivery_method"]
	path = sale_order_autodect_delivery_method
	url = https://github.com/humanytek-team/sale_order_autodect_delivery_method
[submodule "sale_stock_picking_out_returns_not_accepted"]
	path = sale_stock_picking_out_returns_not_accepted
	url = https://github.com/humanytek-team/sale_stock_picking_out_returns_not_accepted
