[submodule "stock_return_picking_with_reason"]
	path = stock_return_picking_with_reason
	url = https://github.com/humanytek-team/stock_return_picking_with_reason
[submodule "sale_stock_restrict_return_picking_expiration_time"]
	path = sale_stock_restrict_return_picking_expiration_time
	url = https://github.com/humanytek-team/sale_stock_restrict_return_picking_expiration_time
