[submodule "stock_return_picking_with_reason"]
	path = stock_return_picking_with_reason
	url = https://github.com/humanytek-team/stock_return_picking_with_reason
[submodule "sale_stock_restrict_return_picking_expiration_time"]
	path = sale_stock_restrict_return_picking_expiration_time
	url = https://github.com/humanytek-team/sale_stock_restrict_return_picking_expiration_time
[submodule "sale_order_autodect_delivery_method"]
	path = sale_order_autodect_delivery_method
	url = https://github.com/humanytek-team/sale_order_autodect_delivery_method
[submodule "sale_stock_picking_out_returns_not_accepted"]
	path = sale_stock_picking_out_returns_not_accepted
	url = https://github.com/humanytek-team/sale_stock_picking_out_returns_not_accepted
[submodule "stock_location_return_not_accepted"]
	path = stock_location_return_not_accepted
	url = https://github.com/humanytek-team/stock_location_return_not_accepted
[submodule "stock_inventory_at_date_with_variants_report_xlsx"]
	path = stock_inventory_at_date_with_variants_report_xlsx
	url = https://github.com/humanytek-team/stock_inventory_at_date_with_variants_report_xlsx
[submodule "stock_inventory_at_date_report"]
	path = stock_inventory_at_date_report
	url = https://github.com/humanytek-team/stock_inventory_at_date_report
[submodule "pos_ticket_with_warehouse_returns"]
	path = pos_ticket_with_warehouse_returns
	url = https://github.com/humanytek-team/pos_ticket_with_warehouse_returns
[submodule "stock_warehouse_returns"]
	path = stock_warehouse_returns
	url = https://github.com/humanytek-team/stock_warehouse_returns
[submodule "product_sale_price_greater_than_cost"]
	path = product_sale_price_greater_than_cost
	url = https://github.com/humanytek-team/product_sale_price_greater_than_cost
[submodule "sale_stock_picking_out_assign_dispenser"]
	path = sale_stock_picking_out_assign_dispenser
	url = https://github.com/humanytek-team/sale_stock_picking_out_assign_dispenser
[submodule "stock_picking_out_restrict_partial_delivery"]
	path = stock_picking_out_restrict_partial_delivery
	url = https://github.com/humanytek-team/stock_picking_out_restrict_partial_delivery
[submodule "stock_assign_dispenser_next_picking_out"]
	path = stock_assign_dispenser_next_picking_out
	url = https://github.com/humanytek-team/stock_assign_dispenser_next_picking_out
[submodule "stock_dispenser"]
	path = stock_dispenser
	url = https://github.com/humanytek-team/stock_dispenser
[submodule "stock_is_stock_user"]
	path = stock_is_stock_user
	url = https://github.com/humanytek-team/stock_is_stock_user
[submodule "product_cost_readonly"]
	path = product_cost_readonly
	url = https://github.com/humanytek-team/product_cost_readonly
[submodule "purchase_order_responsible"]
	path = purchase_order_responsible
	url = https://github.com/humanytek-team/purchase_order_responsible
[submodule "partner_customer_email_required"]
	path = partner_customer_email_required
	url = https://github.com/humanytek-team/partner_customer_email_required
[submodule "partner_customer_phone_required"]
	path = partner_customer_phone_required
	url = https://github.com/humanytek-team/partner_customer_phone_required
[submodule "purchase_order_date_receipt_supplier"]
	path = purchase_order_date_receipt_supplier
	url = https://github.com/humanytek-team/purchase_order_date_receipt_supplier
[submodule "purchase_order_date_sent"]
	path = purchase_order_date_sent
	url = https://github.com/humanytek-team/purchase_order_date_sent
[submodule "purchase_order_products_by_supplier"]
	path = purchase_order_products_by_supplier
	url = https://github.com/humanytek-team/purchase_order_products_by_supplier
[submodule "product_limit_number_suppliers"]
	path = product_limit_number_suppliers
	url = https://github.com/humanytek-team/product_limit_number_suppliers
[submodule "product_restrict_change_suppliers"]
	path = product_restrict_change_suppliers
	url = https://github.com/humanytek-team/product_restrict_change_suppliers
